@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.photographer_section article a {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  }

.photographer_section article .location {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #901C1C;
}
.photographer_section article .line {

    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
}
.photographer_section article .price {

    font-weight: 400;
    font-size: 9px;
    line-height: 12px;
    text-align: center;
    color: #757575;
}

.info-bar {
    position: fixed;
    z-index: 1;
    width: 350px;
    bottom: 0;
    right: 5%;
    padding: 20px 35px;
    border-radius: 5px 5px 0 0;
    background-color:  #DB8876;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
  }
  
  .info-bar-likes {
    margin-right: auto;
  }
  
  .info-bar-left i {
  
    margin-left: 5px;
    color: #000000;
  }


